@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@keyframes loadingBar {
  0% { width: 0%; }
  50% { width: 60%; }
  100% { width: 100%; }
}

.animate-loading {
  animation: loadingBar 1.5s ease-in-out infinite;
}